@import "../../../utilities/css/utilities";

/* GroupBegin Global */
body:before {
	content: "480";
}
.show480 {
	display: block;
}
.hide480 {
	display: none;
}
/* GroupEnd */

/* GroupBegin Header */

/* GroupEnd */

/* GroupBegin Footer */

/* GroupEnd */

/* GroupBegin Apps */

/* GroupEnd */

/* GroupBegin Homepage */

/* GroupEnd */

/* GroupBegin Subpage */

/* GroupEnd */