@import "../../../utilities/css/utilities";

/* GroupBegin Global */
.show320 {
	display: block;
}
.hide320 {
	display: none;
}

/* GroupEnd */

/* GroupBegin Responsive Menu */

/* GroupEnd */

/* GroupBegin Mystart */

/* GroupEnd */ 

/* GroupBegin Header */

/* GroupEnd */

/* GroupBegin Channel Bar */
 
/* GroupEnd */

/* GroupBegin Photo Area */

/* GroupEnd */

/* GroupBegin Body */

/* GroupEnd */

/* GroupBegin Footer */
#gb-schoolwires-footer {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.gb-schoolwires-footer.logo {
    margin: 0px 11px 2px 5px;
}
#gb-schoolwires-footer-links-copyright {
	text-align: center;
}
/* GroupEnd */

/* GroupBegin App Styles */

/* GroupEnd */

/* GroupBegin Homepage Specific */

/* GroupEnd */

/* GroupBegin Subpage Specific */

/* GroupEnd */

/* GroupBegin Subpage No Nav Specific */

/* GroupEnd */