@import "../../../utilities/css/utilities";

/* GroupBegin Global */
.show480 {
	display: block;
}
.hide480 {
	display: none;
}
/* GroupEnd */

/* GroupBegin Responsive Menu */

/* GroupEnd */

/* GroupBegin Mystart */

/* GroupEnd */ 

/* GroupBegin Header */

/* GroupEnd */

/* GroupBegin Channel Bar */
 
/* GroupEnd */

/* GroupBegin Photo Area */

/* GroupEnd */

/* GroupBegin Body */

/* GroupEnd */

/* GroupBegin Footer */
.gb-schoolwires-footer.links ul li:last-child:before {
	display: none;
}
.gb-schoolwires-footer.links ul li:last-child {
	display: block;
    margin-top: 4px;
}
/* GroupEnd */

/* GroupBegin App Styles */

/* GroupEnd */

/* GroupBegin Homepage Specific */

/* GroupEnd */

/* GroupBegin Subpage Specific */
.sp-column.one,
.sp-column.two {
	width: auto;
	float: none;
}
/* GroupEnd */

/* GroupBegin Subpage No Nav Specific */

/* GroupEnd */