<div id="gb-page" class="sp spn [$SiteAlias$]">
	<header class="noprint">
		<section id="gb-header-outer" class="gb-section-parent gb-section-pad">
			<div id="gb-header" class="gb-section">
				<div id="gb-logo"></div>
				<div id="gb-sitename"></div>
			</div>
		</section>
	</header>
	<nav class="noprint">
		<section id="gb-channel-list-outer" class="gb-section-parent gb-section-pad">
			<div id="gb-channel-list" class="gb-section">
				[$ChannelListNavigation props="DisplayType:Text;SectionMax:<SWCtrl controlname="Custom" props="Name:sectionMax" />;DirectoryType:6;DisplayHomeButton:<SWCtrl controlname="Custom" props="Name:showHomeChannel" />;DisplayCalendarButton:<SWCtrl controlname="Custom" props="Name:showCalendarChannel" />;HideSingleSectionDD:<SWCtrl controlname="Custom" props="Name:hideSingleSectionDD" />"$]
			</div>
		</section>
	</nav>
	<main>
		<section id="spn-content-outer" class="gb-section-parent gb-section-pad">
			<div id="spn-content" class="gb-section ui-clear">
				[$ContentLayoutPlaceholder$]
			</div>
		</section>
	</main>
	<footer class="noprint">
		<section id="gb-footer-outer" class="gb-section-parent gb-section-pad">
			<div id="gb-footer" class="gb-section">
				<div class="gb-footer one">
					<p>[$SiteAddressOne$]</p>	
					<p>[$SiteCity$], [$SiteState$] [$SiteZip$]</p>	
				</div>
				<div class="gb-footer two">
					<p>[$SiteContactPhone$]</p>
					<p>[$SiteContactFax$]</p>
				</div>
			</div>
		</section>
		<section id="gb-schoolwires-footer-outer" class="gb-section-parent gb-section-pad">
            <div id="gb-schoolwires-footer" class="gb-section">
                <div class="gb-schoolwires-footer logo"></div>
                <div id="gb-schoolwires-footer-links-copyright">
                    <div class="gb-schoolwires-footer links"></div>
                    <div class="gb-schoolwires-footer copyright"></div>
                </div>
            </div>
        </section>
	</footer>
</div>